Makefile
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
include/config.h
include/stamp-h1

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Other stuff
.deps/
/config.log
/config.status
/libtool
INSTALL
config.guess
config.sub
include/config.h.in
ltmain.sh
m4/libtool.m4
m4/ltversion.m4
